.cta {
    padding: 3rem;
    background: linear-gradient(-115deg, #311814, #d55826); /* Gradiente negro a rojo */

    text-align: center;
    color: #fff;
  }
  
  .cta h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #fff;

  }
  
  .cta p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    color: #fff;

  }
  
  .cta button {
    padding: 0.75rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #311814;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cta button:hover {
    background-color: #444;
  }
  
  .downloadPDF {
    margin-top: 12px;
  }